<div>
    <h2 data-translate="tkbrApp.employe.home.title">Employes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="employe.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="tkbrApp.employe.home.createLabel">
                        Create new Employe
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tkbrApp.employe.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nom"><span data-translate="tkbrApp.employe.nom">Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prenom"><span data-translate="tkbrApp.employe.prenom">Prenom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateNaissance"><span data-translate="tkbrApp.employe.dateNaissance">Date Naissance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lieuNaissance"><span data-translate="tkbrApp.employe.lieuNaissance">Lieu Naissance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroCni"><span data-translate="tkbrApp.employe.numeroCni">Numero Cni</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telephone"><span data-translate="tkbrApp.employe.telephone">Telephone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="tkbrApp.employe.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adresse"><span data-translate="tkbrApp.employe.adresse">Adresse</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateEntree"><span data-translate="tkbrApp.employe.dateEntree">Date Entree</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salaire"><span data-translate="tkbrApp.employe.salaire">Salaire</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fonction.id"><span data-translate="tkbrApp.employe.fonction">Fonction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employe in vm.employes track by employe.id">
                    <td><a ui-sref="employe-detail({id:employe.id})">{{employe.id}}</a></td>
                    <td>{{employe.nom}}</td>
                    <td>{{employe.prenom}}</td>
                        <td>{{employe.dateNaissance | date:'mediumDate'}}</td>
                    <td>{{employe.lieuNaissance}}</td>
                    <td>{{employe.numeroCni}}</td>
                    <td>{{employe.telephone}}</td>
                    <td>{{employe.email}}</td>
                    <td>{{employe.adresse}}</td>
                        <td>{{employe.dateEntree | date:'mediumDate'}}</td>
                    <td>{{employe.salaire}}</td>
                    <td>
                        <a ui-sref="employe-fonction-detail({id:employe.fonction.id})">{{employe.fonction.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="employe-detail({id:employe.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="employe.edit({id:employe.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="employe.delete({id:employe.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
