
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeLabel" data-translate="tkbrApp.employe.home.createOrEditLabel">Create or edit a Employe</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employe.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employe.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.employe.nom"
                    required/>
            <div ng-show="editForm.nom.$invalid">
                <p class="help-block"
                    ng-show="editForm.nom.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                    ng-model="vm.employe.prenom"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                <div class="input-group">
                    <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" uib-datepicker-popup="{{dateformat}}" ng-model="vm.employe.dateNaissance" is-open="vm.datePickerOpenStatus.dateNaissance"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateNaissance')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
            <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                    ng-model="vm.employe.lieuNaissance"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.numeroCni" for="field_numeroCni">Numero Cni</label>
            <input type="number" class="form-control" name="numeroCni" id="field_numeroCni"
                    ng-model="vm.employe.numeroCni"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                    ng-model="vm.employe.telephone"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.employe.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                    ng-model="vm.employe.adresse"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.dateEntree" for="field_dateEntree">Date Entree</label>
                <div class="input-group">
                    <input id="field_dateEntree" type="text" class="form-control" name="dateEntree" uib-datepicker-popup="{{dateformat}}" ng-model="vm.employe.dateEntree" is-open="vm.datePickerOpenStatus.dateEntree"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEntree')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.employe.salaire" for="field_salaire">Salaire</label>
            <input type="number" class="form-control" name="salaire" id="field_salaire"
                    ng-model="vm.employe.salaire"
                    />
        </div>

        <div class="form-group">
            <label data-translate="tkbrApp.employe.fonction" for="field_fonction">Fonction</label>
            <select class="form-control" id="field_fonction" name="fonction" ng-model="vm.employe.fonction" ng-options="employeFonction as employeFonction.id for employeFonction in vm.employefonctions track by employeFonction.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.fonction.$invalid">
            <p class="help-block"
                ng-show="editForm.fonction.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
