<div>
    <h2 data-translate="tkbrApp.entrepot.home.title">Entrepots</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="entrepot.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="tkbrApp.entrepot.home.createLabel">
                        Create new Entrepot
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tkbrApp.entrepot.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="libelle"><span data-translate="tkbrApp.entrepot.libelle">Libelle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localisation"><span data-translate="tkbrApp.entrepot.localisation">Localisation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="capactite"><span data-translate="tkbrApp.entrepot.capactite">Capactite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="tkbrApp.entrepot.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="responsable.id"><span data-translate="tkbrApp.entrepot.responsable">Responsable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entrepot in vm.entrepots track by entrepot.id">
                    <td><a ui-sref="entrepot-detail({id:entrepot.id})">{{entrepot.id}}</a></td>
                    <td>{{entrepot.libelle}}</td>
                    <td>{{entrepot.localisation}}</td>
                    <td>{{entrepot.capactite}}</td>
                    <td data-translate="{{'tkbrApp.EntrepotType.' + entrepot.type}}">{{entrepot.type}}</td>
                    <td>
                        <a ui-sref="employe-detail({id:entrepot.responsable.id})">{{entrepot.responsable.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="entrepot-detail({id:entrepot.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="entrepot.edit({id:entrepot.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="entrepot.delete({id:entrepot.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
