
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myEntrepotLabel" >Créer ou modifier  Entrepot</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div>
              <div class="form-group">
 <label class="control-label"  for="field_libelle">Libelle <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_libelle" ng-model="vm.entrepot.libelle"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_localisation">Localisation <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_localisation" ng-model="vm.entrepot.localisation"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_capactite">Capactite</label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_capactite" ng-model="vm.entrepot.capactite"                     ng-readonly="false"  ng-required="false"                     />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_type">Type <span style="color:red" >*</span></label>
 <select class="form-control" name="type"  ng-model="vm.entrepot.type"  id="field_type" required>
<option value="ACHAT">ACHAT</option>
<option value="VENTE">VENTE</option>
<option value="PRODUCTION">PRODUCTION</option>
<option value="STOCKAGE">STOCKAGE</option>
<option value="FOURNISSEURS">FOURNISSEURS</option>
<option value="CONSUMMABLE">CONSUMMABLE</option>
            </select>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_responsable">Responsable</label>
  <select class="form-control" name="responsable"  ng-model="vm.entrepot.responsable"  id="field_responsable" ng-options="employe as employe.id for employe in vm.employes track by employe.id" >
                <option value=""></option>
            </select>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
