
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myBonReceptionLabel" >Créer ou modifier  BonReception</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div>
              <div class="form-group">
 <label class="control-label"  for="field_commande">Commande</label>
  <select class="form-control" name="commande"  ng-model="vm.bonReception.commande"  id="field_commande" ng-options="achat as achat.id for achat in vm.achats track by achat.id" >
                <option value=""></option>
            </select>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_superviseur">Superviseur</label>
  <select class="form-control" name="superviseur"  ng-model="vm.bonReception.superviseur"  id="field_superviseur" ng-options="employe as employe.id for employe in vm.employes track by employe.id" >
                <option value=""></option>
            </select>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_dateReception">Date Reception <span style="color:red" >*</span></label>
  <div class="input-group">
                    <input  id="field_dateReception" type="text" class="form-control" name="dateReception" uib-datepicker-popup="{{dateformat}}"  ng-model="vm.bonReception.dateReception"  is-open="vm.datePickerOpenStatus.dateReception"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateReception')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_etat">Etat</label>
 <select class="form-control" name="etat"  ng-model="vm.bonReception.etat"  id="field_etat" >
<option value="LIVRE">LIVRE</option>
<option value="NON_LIVRE">NON_LIVRE</option>
<option value="EN_COURS">EN_COURS</option>
            </select>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_commentaires">Commentaires</label>
   <textarea class="form-control" rows="3"  cols="30"   id="field_commentaires" ng-model="vm.bonReception.commentaires"                     ng-readonly="false"  ng-required="false"                     > </textarea>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
