
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myFournisseurLabel" >Créer ou modifier  Fournisseur</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div>
              <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.fournisseur.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_nom">Nom <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_nom" ng-model="vm.fournisseur.nom"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_email">Email</label>
  <div class="input-group"> <input  class="form-control"   type="email"  autocomplete="off"  id="field_email"  ng-model="vm.fournisseur.email"                     ng-readonly="false"  ng-required="false"                     /><span class="input-group-addon" >  <span >
                        <i class="fa fa-envelope"></i>
                    </span> </span>
        </div>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_telephonePortable">Telephone Portable <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_telephonePortable" ng-model="vm.fournisseur.telephonePortable"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_telephoneFixe">Telephone Fixe</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_telephoneFixe" ng-model="vm.fournisseur.telephoneFixe"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_siteWeb">Site Web</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_siteWeb" ng-model="vm.fournisseur.siteWeb"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_boitePostale">Boite Postale</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_boitePostale" ng-model="vm.fournisseur.boitePostale"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_adresse">Adresse <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_adresse" ng-model="vm.fournisseur.adresse"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_logo">Logo</label>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_logoContentType">Logo Content Type</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_logoContentType" ng-model="vm.fournisseur.logoContentType"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_responsable">Responsable</label>
  <select class="form-control" name="responsable"  ng-model="vm.fournisseur.responsable"  id="field_responsable" ng-options="responsable as responsable.id for responsable in vm.responsables track by responsable.id" >
                <option value=""></option>
            </select>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_numeroCommerce">Numero Commerce</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_numeroCommerce" ng-model="vm.fournisseur.numeroCommerce"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
