<div>
    <h2 data-translate="tkbrApp.commande.home.title">Commandes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="commande.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="tkbrApp.commande.home.createLabel">
                        Create new Commande
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tkbrApp.commande.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span data-translate="tkbrApp.commande.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateEmission"><span data-translate="tkbrApp.commande.dateEmission">Date Emission</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delai"><span data-translate="tkbrApp.commande.delai">Delai</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prixHT"><span data-translate="tkbrApp.commande.prixHT">Prix HT</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prixTTC"><span data-translate="tkbrApp.commande.prixTTC">Prix TTC</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="tkbrApp.commande.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateEcheance"><span data-translate="tkbrApp.commande.dateEcheance">Date Echeance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commentaires"><span data-translate="tkbrApp.commande.commentaires">Commentaires</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="client.id"><span data-translate="tkbrApp.commande.client">Client</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fournisseur.id"><span data-translate="tkbrApp.commande.fournisseur">Fournisseur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="commande in vm.commandes track by commande.id">
                    <td><a ui-sref="commande-detail({id:commande.id})">{{commande.id}}</a></td>
                    <td>{{commande.reference}}</td>
                        <td>{{commande.dateEmission | date:'mediumDate'}}</td>
                    <td>{{commande.delai}}</td>
                    <td>{{commande.prixHT}}</td>
                    <td>{{commande.prixTTC}}</td>
                    <td data-translate="{{'tkbrApp.CommandeType.' + commande.type}}">{{commande.type}}</td>
                        <td>{{commande.dateEcheance | date:'mediumDate'}}</td>
                    <td>{{commande.commentaires}}</td>
                    <td>
                        <a ui-sref="client-detail({id:commande.client.id})">{{commande.client.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="fournisseur-detail({id:commande.fournisseur.id})">{{commande.fournisseur.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="commande-detail({id:commande.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="commande.edit({id:commande.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="commande.delete({id:commande.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
