
<div class="wrapper-md">
    <div class="panel panel-default">

        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr >
                        <th><span >ID</span> </th>
                        <th><span >Montant</span> </th>
                        <th><span >Date Versement</span> </th>
                        <th><span >Mode</span> </th>

                        <th >
                            <button class="btn btn-primary" ng-click="vm.addReglement()" type="button" tooltip="Créer Reglement">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="terrainReglement in vm.terrainReglements track by terrainReglement.id">
                        <td>{{terrainReglement.id}}</td>
                        <td>{{terrainReglement.montant| number }}</td>
                        <td>{{terrainReglement.dateVersement| date:'mediumDate'}}</td>
                        <td>{{terrainReglement.mode}}</td>

                        <td >



                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
