<div>
    <h2 data-translate="tkbrApp.mouvementStock.home.title">Mouvement Stocks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="mouvement-stock.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="tkbrApp.mouvementStock.home.createLabel">
                        Create new Mouvement Stock
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tkbrApp.mouvementStock.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantite"><span data-translate="tkbrApp.mouvementStock.quantite">Quantite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateTransaction"><span data-translate="tkbrApp.mouvementStock.dateTransaction">Date Transaction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="motifTransaction"><span data-translate="tkbrApp.mouvementStock.motifTransaction">Motif Transaction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entrepotDepart.id"><span data-translate="tkbrApp.mouvementStock.entrepotDepart">Entrepot Depart</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entrepotDestination.id"><span data-translate="tkbrApp.mouvementStock.entrepotDestination">Entrepot Destination</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="produit.id"><span data-translate="tkbrApp.mouvementStock.produit">Produit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mouvementStock in vm.mouvementStocks track by mouvementStock.id">
                    <td><a ui-sref="mouvement-stock-detail({id:mouvementStock.id})">{{mouvementStock.id}}</a></td>
                    <td>{{mouvementStock.quantite}}</td>
                        <td>{{mouvementStock.dateTransaction | date:'mediumDate'}}</td>
                    <td>{{mouvementStock.motifTransaction}}</td>
                    <td>
                        <a ui-sref="entrepot-detail({id:mouvementStock.entrepotDepart.id})">{{mouvementStock.entrepotDepart.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="entrepot-detail({id:mouvementStock.entrepotDestination.id})">{{mouvementStock.entrepotDestination.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="produit-detail({id:mouvementStock.produit.id})">{{mouvementStock.produit.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="mouvement-stock-detail({id:mouvementStock.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mouvement-stock.edit({id:mouvementStock.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mouvement-stock.delete({id:mouvementStock.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
