
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myMouvementStockLabel" >Créer ou modifier  MouvementStock</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div>
              <div class="form-group">
 <label class="control-label"  for="field_quantite">Quantite</label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_quantite" ng-model="vm.mouvementStock.quantite"                     ng-readonly="false"  ng-required="false"                     />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_dateTransaction">Date Transaction <span style="color:red" >*</span></label>
  <div class="input-group">
                    <input  id="field_dateTransaction" type="text" class="form-control" name="dateTransaction" uib-datepicker-popup="{{dateformat}}"  ng-model="vm.mouvementStock.dateTransaction"  is-open="vm.datePickerOpenStatus.dateTransaction"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateTransaction')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_motifTransaction">Motif Transaction</label>
   <textarea class="form-control" rows="3"  cols="30"   id="field_motifTransaction" ng-model="vm.mouvementStock.motifTransaction"                     ng-readonly="false"  ng-required="false"                     > </textarea>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_entrepotDepart">Entrepot Depart <span style="color:red" >*</span></label>
  <select class="form-control" name="entrepotDepart"  ng-model="vm.mouvementStock.entrepotDepart"  id="field_entrepotDepart" ng-options="entrepot as entrepot.id for entrepot in vm.entrepots track by entrepot.id" required>
                <option value=""></option>
            </select>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_entrepotDestination">Entrepot Destination <span style="color:red" >*</span></label>
  <select class="form-control" name="entrepotDestination"  ng-model="vm.mouvementStock.entrepotDestination"  id="field_entrepotDestination" ng-options="entrepot as entrepot.id for entrepot in vm.entrepots track by entrepot.id" required>
                <option value=""></option>
            </select>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_produit">Produit <span style="color:red" >*</span></label>
  <select class="form-control" name="produit"  ng-model="vm.mouvementStock.produit"  id="field_produit" ng-options="produit as produit.id for produit in vm.produits track by produit.id" required>
                <option value=""></option>
            </select>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
