<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">User settings for [<b>{{vm.settingsAccount.login}}</b>]</h1>
    <small class="text-muted"></small>
</div>
<div class="wrapper-md">

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_id">Id</label>
                <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.settingsAccount.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_login">Login</label>
                <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.settingsAccount.login"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_nom">Nom</label>
                <input  class="form-control"   type="text"  autocomplete="off"   id="field_nom" ng-model="vm.settingsAccount.nom"                     ng-readonly="false"  ng-required="true"    ng-maxlength="255"                      />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_prenom">Prenom</label>
                <input  class="form-control"   type="text"  autocomplete="off"   id="field_prenom" ng-model="vm.settingsAccount.prenom"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_dateNaissance">Date Naissance</label>
                <div class="input-group">
                    <input  id="field_dateNaissance" type="text" class="form-control" name="dateNaissance"    ng-required="false"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.settingsAccount.dateNaissance"  is-open="vm.datePickerOpenStatus.dateNaissance"
                            />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateNaissance')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_lieuNaissance">Lieu Naissance</label>
                <input  class="form-control"   type="text"  autocomplete="off"   id="field_lieuNaissance" ng-model="vm.settingsAccount.lieuNaissance"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_numeroCni">Numero Cni</label>
                <input  class="form-control"   type="number"  autocomplete="off"  id="field_numeroCni" ng-model="vm.settingsAccount.numeroCni"                     ng-readonly="false"  ng-required="false"                     />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_telephone">Telephone</label>
                <div class="input-group"> <input  class="form-control"   type="text"  autocomplete="off"  id="field_telephone"  ng-model="vm.settingsAccount.telephone"                     ng-readonly="false"  ng-required="false"                     /><span class="input-group-addon" >  <span >
                            <i class="fa fa-phone"></i>
                        </span> </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_email">Email</label>
                <div class="input-group"> <input  class="form-control"   type="email"  autocomplete="off"  id="field_email"  ng-model="vm.settingsAccount.email"                     ng-readonly="false"  ng-required="false"                     /><span class="input-group-addon" >  <span >
                            <i class="fa fa-envelope"></i>
                        </span> </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_adresse">Adresse</label>
                <input  class="form-control"   type="text"  autocomplete="off"   id="field_adresse" ng-model="vm.settingsAccount.adresse"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_dateEntree">Date Entree</label>
                <div class="input-group">
                    <input  id="field_dateEntree" type="text" class="form-control" name="dateEntree"    ng-required="false"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.settingsAccount.dateEntree"  is-open="vm.datePickerOpenStatus.dateEntree"
                            />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEntree')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_salaire">Salaire</label>
                <input  class="form-control"   type="number"  autocomplete="off"  id="field_salaire" ng-model="vm.settingsAccount.salaire"                     ng-readonly="false"  ng-required="false"                     />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_fonction">Fonction</label>
                <input  class="form-control"   type="text"  autocomplete="off"   id="field_lieuNaissance" ng-model="vm.settingsAccount.fonction.libelle"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"  for="field_departement">Departement</label>
                <input  class="form-control"   type="text"  autocomplete="off"   id="field_lieuNaissance" ng-model="vm.settingsAccount.departement.libelle"                     ng-readonly="false"  ng-required="false"    ng-maxlength="255"                      />

            </div>
        </div>

    </div>


</div>
