
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommandeLigneLabel" data-translate="tkbrApp.commandeLigne.home.createOrEditLabel">Create or edit a Commande Ligne</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.commandeLigne.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.commandeLigne.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.commandeLigne.quantite" for="field_quantite">Quantite</label>
            <input type="number" class="form-control" name="quantite" id="field_quantite"
                    ng-model="vm.commandeLigne.quantite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.commandeLigne.prixUnitaire" for="field_prixUnitaire">Prix Unitaire</label>
            <input type="number" class="form-control" name="prixUnitaire" id="field_prixUnitaire"
                    ng-model="vm.commandeLigne.prixUnitaire"
                    />
        </div>

        <div class="form-group">
            <label data-translate="tkbrApp.commandeLigne.commande" for="field_commande">Commande</label>
            <select class="form-control" id="field_commande" name="commande" ng-model="vm.commandeLigne.commande" ng-options="commande as commande.id for commande in vm.commandes track by commande.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.commande.$invalid">
            <p class="help-block"
                ng-show="editForm.commande.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="tkbrApp.commandeLigne.produit" for="field_produit">Produit</label>
            <select class="form-control" id="field_produit" name="produit" ng-model="vm.commandeLigne.produit" ng-options="produit as produit.id for produit in vm.produits track by produit.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.produit.$invalid">
            <p class="help-block"
                ng-show="editForm.produit.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
