
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myCommandeLigneLabel" >Créer ou modifier  CommandeLigne</h3>
         <small class="text-muted" >Les champs * sont obligatoires</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div>
              <div class="form-group">
 <label class="control-label"  for="field_quantite">Quantite <span style="color:red" >*</span></label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_quantite" ng-model="vm.commandeLigne.quantite"                     ng-readonly="false"  ng-required="true"                     />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_prixUnitaire">Prix Unitaire</label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_prixUnitaire" ng-model="vm.commandeLigne.prixUnitaire"                     ng-readonly="false"  ng-required="false"                     />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_sousTotal">Sous Total</label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_sousTotal" ng-model="vm.commandeLigne.sousTotal"                     ng-readonly="true"  ng-required="false"                     />
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_commande">Commande <span style="color:red" >*</span></label>
  <select class="form-control" name="commande"  ng-model="vm.commandeLigne.commande"  id="field_commande" ng-options="commande as commande.id for commande in vm.commandes track by commande.id" required>
                <option value=""></option>
            </select>
 </div>
 <div class="form-group">
 <label class="control-label"  for="field_produit">Produit <span style="color:red" >*</span></label>
  <select class="form-control" name="produit"  ng-model="vm.commandeLigne.produit"  id="field_produit" ng-options="produit as produit.id for produit in vm.produits track by produit.id" required>
                <option value=""></option>
            </select>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Enregister</span>
        </button>
    </div>
</form>
