<div>
    <h2 data-translate="tkbrApp.pvReception.home.title">Pv Receptions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pv-reception.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="tkbrApp.pvReception.home.createLabel">
                        Create new Pv Reception
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tkbrApp.pvReception.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span data-translate="tkbrApp.pvReception.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateReception"><span data-translate="tkbrApp.pvReception.dateReception">Date Reception</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="etat"><span data-translate="tkbrApp.pvReception.etat">Etat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commentaires"><span data-translate="tkbrApp.pvReception.commentaires">Commentaires</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commande.id"><span data-translate="tkbrApp.pvReception.commande">Commande</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="superviseur.id"><span data-translate="tkbrApp.pvReception.superviseur">Superviseur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pvReception in vm.pvReceptions track by pvReception.id">
                    <td><a ui-sref="pv-reception-detail({id:pvReception.id})">{{pvReception.id}}</a></td>
                    <td>{{pvReception.reference}}</td>
                        <td>{{pvReception.dateReception | date:'mediumDate'}}</td>
                    <td data-translate="{{'tkbrApp.EtatPv.' + pvReception.etat}}">{{pvReception.etat}}</td>
                    <td>{{pvReception.commentaires}}</td>
                    <td>
                        <a ui-sref="commande-detail({id:pvReception.commande.id})">{{pvReception.commande.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="employe-detail({id:pvReception.superviseur.id})">{{pvReception.superviseur.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pv-reception-detail({id:pvReception.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pv-reception.edit({id:pvReception.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pv-reception.delete({id:pvReception.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
