
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPvReceptionLabel" data-translate="tkbrApp.pvReception.home.createOrEditLabel">Create or edit a Pv Reception</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pvReception.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pvReception.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.pvReception.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                    ng-model="vm.pvReception.reference"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.pvReception.dateReception" for="field_dateReception">Date Reception</label>
                <div class="input-group">
                    <input id="field_dateReception" type="text" class="form-control" name="dateReception" uib-datepicker-popup="{{dateformat}}" ng-model="vm.pvReception.dateReception" is-open="vm.datePickerOpenStatus.dateReception"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateReception')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateReception.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateReception.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.pvReception.etat" for="field_etat">Etat</label>
            <select class="form-control" name="etat" ng-model="vm.pvReception.etat" id="field_etat">
                <option value="LIVRE" data-translate="tkbrApp.EtatPv.LIVRE">LIVRE</option>
                <option value="NON_LIVRE" data-translate="tkbrApp.EtatPv.NON_LIVRE">NON_LIVRE</option>
                <option value="EN_COURS" data-translate="tkbrApp.EtatPv.EN_COURS">EN_COURS</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tkbrApp.pvReception.commentaires" for="field_commentaires">Commentaires</label>
                <textarea class="form-control" name="commentaires" id="field_commentaires"
                    ng-model="vm.pvReception.commentaires" ></textarea>
        </div>

        <div class="form-group">
            <label data-translate="tkbrApp.pvReception.commande" for="field_commande">Commande</label>
            <select class="form-control" id="field_commande" name="commande" ng-model="vm.pvReception.commande" ng-options="commande as commande.id for commande in vm.commandes | orderBy:'id' track by commande.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.commande.$invalid">
            <p class="help-block"
                ng-show="editForm.commande.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="tkbrApp.pvReception.superviseur" for="field_superviseur">Superviseur</label>
            <select class="form-control" id="field_superviseur" name="superviseur" ng-model="vm.pvReception.superviseur" ng-options="employe as employe.id for employe in vm.employes track by employe.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
